.VPHero .clip {
    white-space: pre;
    max-width: 500px;
}

.mono {
    /*
  Disable contextual alternates (kind of like ligatures but different) in monospace,
  which turns `/>` to an up arrow and `|>` (the Julia pipe symbol) to an up arrow as well.
  This is pretty bad for Julia folks reading even though copy+paste retains the same text.
  */
    font-feature-settings: 'calt' 0;
}

/* Colors */

:root {
    --vp-c-brand-dimm: #282c34;
}

/* Component: Docstring Custom Block */

.jldocstring.custom-block {
    border: 1px solid var(--vp-c-gray-2);
    color: var(--vp-c-text-1)
}

.jldocstring.custom-block summary {
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    margin: 0 0 8px;
}